.body{
    display:flexbox;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F2E6D5;

}
.fondd{
    position: relative;
    text-align: center;
    width: 100vw;
    height: 89vh;
}
#botontor{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100%;
    margin: 1% 0% 0% 21.7%;
    padding: 1% 0% 2% 0%;
    height: 15%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botonpan{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100.2%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 7%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botontec{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botonmou{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 52%;
    margin: 1% 0% 0% 32%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botondia{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 52%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
.marg{
    margin: 0;
}


td{
    padding: 10px 20px;
    width: 50px;
}
#titu{
    position:relative;
    padding: 4% 0% 0% 45%;
}
.botont{
    background: #EFB197;
    position:relative;
    border-radius: 5px;
    padding: 1% 0% 1% 0%;
    left: 35%;
    width: 30%;
    border-style: none;
    cursor: pointer;
}

