.body{
    display:flexbox;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F2E6D5;

}
.fond{
    position: relative;
}
#botonto{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100%;
    margin: 1% 0% 0% 21.7%;
    padding: 1% 0% 2% 0%;
    height: 15%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botonpa{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100.2%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 7%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botonte{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 100%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botonmo{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 52%;
    margin: 1% 0% 0% 32%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#botondi{
    background: #EFB197;
    position: relative;
    border-radius: 5px;
    top: 52%;
    margin: 1% 0% 0% 5.89%;
    padding: 1% 0% 2% 0%;
    height: 0%;
    width: 15%;
    border-style: none;
    cursor: pointer;
}
#fle{
    width: 100vw;
    height: 20vh;  
}
#flf{
    width: 100vw;
    height: 40vh;  
}
#tit{
    position:relative;
    padding: 4% 0% 0% 45%;
}